<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<img class="img-responsive" src="/images/banner.png" alt="banner"/>
<div class= "container">
<div class="row">
<div class="main-center">
<form class="form-signin" th:action="@{/index}" method="post">
                    <h2 class="form-signin-heading">!!Admin Login Page!!</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Admin's name</label>
                        <input type="text" roleId="username" class="form-control" placeholder="Admin's Username" name="username"
                               id="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Top secret Password</label>
                        <input type="password" roleId="inputPassword" class="form-control" placeholder="Top secret Password"
                               id="password"
                               name="password" required="required"/>
                    </div>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
                </form>
</div>

</div>

</div>
</body>
<div th:replace="common/header :: body-bottom-scripts"/>

</html> 